body {padding: 0; margin: 0; background: #fff; color: #444;}
.zaglavlje {width: 100%; padding: 0%; float: left;}
.zaglavlje img {border-right: 1px solid #222;}
.sadrzaj {width: 68%; padding: 1%; float: left;}
.sajdbar {width: 28%; padding: 1%; float: right;}
.fusnota {width: 98%; padding: 1%; float: left; border-top:1px solid #222;}
nav {display: block; border-top:1px solid #222;} 
ul li {display:inline;}
ul li a {color: #333; padding-top:1%;padding-right:1%;}


.comment-form-container {
	background: #F0F0F0;
	border: #e0dfdf 1px solid;
	padding: 20px;
	border-radius: 2px;
}

.input-row {
	margin-bottom: 20px;
}

.input-field {
	width: 100%;
	border-radius: 2px;
	padding: 10px;
	border: #e0dfdf 1px solid;
}

.btn-submit {
	padding: 10px 20px;
	background: #333;
	border: #1d1d1d 1px solid;
	color: #f0f0f0;
	font-size: 0.9em;
	width: 100px;
	border-radius: 2px;
    cursor:pointer;
}

ul {
	list-style-type: none;
}

.comment-row {
	border-bottom: #e0dfdf 1px solid;
	margin-bottom: 15px;
	padding: 15px;
}

.outer-comment {
	background: #F0F0F0;
	padding: 20px;
	border: #dedddd 1px solid;
}

span.commet-row-label {
	font-style: italic;
}

span.posted-by {
	color: #09F;
}

.comment-info {
	font-size: 0.8em;
}
.comment-text {
    margin: 10px 0px;
}
.btn-reply {
    font-size: 0.8em;
    text-decoration: underline;
    color: #888787;
    cursor:pointer;
}
#comment-message {
    margin-left: 20px;
    color: #189a18;
    display: none;
}